<div data-template class="customer">
    <table>
        <tr>
            <td>	
               <table>
		          <tr>
                    <td>
                       <table>
                          <tr>
                             <td>
                                <span class="customer_title margin_big">{{CUSTOMER_NAME.value}}</span>
                             </td>
                          </tr>
                          <tr>
                             <td class="attributeName"><div class="margin_big">
                                {{CUSTOMER_NAME.label}}
                                </div>
                             </td>
                             <td class="attributeValue">
                                {{CUSTOMER_NAME.value}}
                             </td>
                           </tr>
                           <tr>
                              <td class="attributeName"><div class="margin_big">
                                {{INDUSTRY.label}}
                                </div>
                              </td>
                              <td class="attributeValue">
                                {{INDUSTRY.value}}
                              </td>
                           </tr>
                           <tr>
                             <td class="attributeName"><div class="margin_big">
                                {{REGION.label}}
                                </div>
                             </td>
                             <td class="attributeValue">
                                {{REGION.value}}
                             </td>
                           </tr>
                        </table>
                     </td>
                   </tr>
                </table>
            </td>
            
		</tr>
	</table>
</div>
<div data-template-fallback>Sorry, JavaScript required!</div>